.projeto-container {
  /*border: 2px solid red;*/
  margin-left: 7%;
  min-width: 102%;
}

/* estilos da tabela em si */
.projeto-table th:nth-child(7) {  /* Colaboradores column */
  width: 15%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projeto-table th:nth-child(9) {  /* Ações column */
  width: 12%;
  min-width: 120px;
}

.action-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.edit-icon {
  cursor: pointer;
  margin-right: 12px;
}

.edit-icon:hover {
  color: #007bff;
}

.delete-icon {
  cursor: pointer;
  color: rgb(223, 59, 59);
}

.delete-icon:hover {
  color: rgb(255, 0, 0);
}

.view-icon {
  margin-left: 12px;
}

