.projeto-container {
  border: 2px solid red;
  margin-left: 7%;
  min-width: 100%;
}

/* estilos da tabela em si */
.projeto-table {
    
  }
  
  .projeto-table th,
  .projeto-table td {
    
  }
  
  .projeto-table th {
    
  }
  
  .projeto-table td {
    
  }