@import '../../assets/styles/breakpoints.scss';
@import '../../assets/styles/layout.scss';

/* Botão a rever - criar um componente de botões*/
.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  @include respond-from('md') {
    padding: 0.5rem 1.25rem;
  }
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

// Responsive adjustments
@media (max-width: 768px) {
  .create-button {
    width: 100%;
  }
}
