/* Botão a rever - criar um componente de botões*/
.add-project-btn {
  margin-right: 1045px;
  padding: 8px 16px;
  font-size: 16px;
  background-color:rgb(209, 205, 205);
  border-color: aliceblue;
}

.projeto-details-container{
  margin-top: 1%;
  margin-left: 15%;
  width: 83%;
  /*border: 2px solid rgb(68, 255, 0);*/
}
