.home-container {
  border: 2px solid red;  
  margin-left: 12%;
}

.home-central-view-container {
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
  min-height: 85vh;
  padding: 5px;
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 3%;
}
