.custom-navbar {
  height: 80px; /* Adjust the value as needed */
}

.search-textarea {
  height: 40px;
  margin-right: 1rem;
  margin-left: 4rem;
}

.fl-brand {
  font-size: 25px;
}

/* para maior controlo sobre a navbar, incluindo garantir que está acima dos outros elementos
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020; 
}
*/
