.search-card {
  max-width: 800px;
  /* margin: 0 auto; */
}

.search-results-container {
  margin-left: 220px; /* Matches the content margin from sidebar */
  padding: 20px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}
