.sidebar {
  position: fixed;
  top: 55px; /* Adjust this value based on the height of your navbar */
  left: 0;
  bottom: 0;
  width: 12%; /* Adjust the width as needed */
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.content {
  margin-left: 220px; /* Adjust based on the sidebar width */
  padding: 20px;
}

.nav-link {
  text-decoration: none; /* Remove underline */
}

.nav-link:hover {
  text-decoration: none; /* Remove underline on hover */
}

.sidebar-link {
  text-decoration: none;
  display: block; /* links are treated as block-level elements, allowing you to control their vertical spacing using the padding property.*/
  padding: 15px 15px;
}

.sidebar-link:hover {
  text-decoration: none;
}
