/* KanbanBoard page layout */
@import '../../assets/styles/breakpoints.scss';

.home-container {
  margin-left: 4%; /* Match the sidebar width */
  padding: 20px;
  width: 100%; /* Remaining width */
}

.kanban-board-page {
  padding: 20px;
  width: 100%;
}

.kanban-board-title {
  padding-left: 5px;
  margin-bottom: 25px;
  font-size: 1.75rem;
}

/* Responsive styles */
@include respond-to('md') {
  .home-container {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }

  .kanban-board-page {
    padding: 10px;
  }

  .kanban-board-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
  }
}

@include respond-to('sm') {
  .kanban-board-container {
    margin: 0 -10px;
    padding: 0 10px;
  }
}
