.home-container {
  /*display: flex;
  flex-direction: column;*/
  margin-left: 12%; /* Match the sidebar width */
  padding: 20px;
  width: 88%; /* Remaining width */
}

.kanban-board-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.kanban-board {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.kanban-column {
  min-width: 300px;
  flex: 0 0 auto;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
}

.kanban-board-title {
  padding-left: 5px;
  margin-bottom: 25px;
}
