.user-container {
    border: 2px solid red;
    margin-left: 7%;
    min-width: 100%;
  }
  
  /* estilos da tabela em si */
  .user-table {
      
    }
    
    .user-table th,
    .user-table td {
      
    }
    
    .user-table th {
      
    }
    
    .user-table td {
      
    }